@font-face{
    font-family: "verdemoderna";
    src: url("verdemoderna.woff")
}


.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.a1{
    background: url("contours.png") fixed, url("gridlines.png"), url("huntington.jpg") scroll;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: white;
}

/* .a1::before{
    content: url("enso.svg");} */

.D::before{
    content: "D";
    font-family: "verdemoderna";
    color: #adb995;
    background-color: #d9e1cd;
    border-radius: 2px
}

.D{
    color: #809b7e;
}
.a2{
    padding: 20px 50px;
}

.a3{
    background: #e2ede8;
}