header{
    text-align: center;
    width: 93%;
    position: fixed;
    top: 0px;
    background-color: darkgray
}

article{
    margin: 100px;
    width:93%;
    border-top: solid black 2px;
    padding:3px;
}

img{
    float:right;
}

h1{
    display:inline-block;
}
p{
    display:inline-block;
    text-align: center;
}