nav{
     text-align: center;
     right: 50%;
     display: flex;
     justify-content: space-around;
     background-color: rgba(137, 43, 226, 0.5);
     font-size: 30px;
}
#nav{
    position: fixed;
    width:100%;
}

body{
    background-color: #020027;
    color: #c35cd2;
}

a{
    color:yellow;
}
 p{
    padding:30px;
    padding-top:80px;
    margin: 0;
 }