#sheet{
    background-image: url("char.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

#title{
    margin-top: 8%;
    margin-bottom: 5%;
    flex-basis: 100%;
    display: flex;
}

#CharNam{
    margin-top: 2%;
    text-align: center;
    flex-basis: 45%;
}

#MainInfo{
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sheet2{
    width: 33%;
}