.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border-bottom: 5pt green dashed
}

body{
    background:black;
    color:green
}

.link{
    color:green
}

img{
    float: left;
    margin: 0 4% 0 2%
}

.gameCard{
    width:250pt;
    height:300pt;
    text-align: center;
    border: dashed 2pt white;
}

.gameCard .gameLink{
    text-decoration: none;
    color:green;
}

.gameCard img{
    /* display:block; */
    float:none;
}

.gameContainer{
    margin:10pt;
    text-align: center;
    font-size: 30pt;
    margin-top:10%
}

.input{
    background:black;
    color:green;
    height:30pt;
    width:200pt;
    font-size: 20pt
}

.submit{
    background:black;
    color:green;
}
