body{
    margin: 0;
}

img{
    width: 100%;
}

header{
    background: black;
}

nav{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.dropdown-content a{
    display: block;
}

.show{
    display: block;
}